.header
  .container
    a(href="home.html")
      span Logo
    ul.action-logged
      li
        a(href="#")
          span Đơn hàng
      li
        a(href="#")
          span Chấm công
      li
        a(href="#")
          span Nguyên phụ liệu
      li
        a(href="#")
          span Nhân viên
