body {
  .content {
    min-height: 500px;
  }
  table {
    thead {
      th {
        background-color: #00266b;
        color: #fff;
        padding: 14px 0 12px;
        font-family: proxima-nova,"Open Sans",Arial,Helvetica,sans-serif;
        font-weight: 700;
        border: 1px solid #00266b !important;
      }
    }
    tbody {
      td {
        line-height: 1.2;
        margin: 0;
        font-size: 13px;
        color: #666;
      }
    }
  }
}

.staff-info {
  margin: 20px 0;
  .staff-avatar {
    background: #fff;
    border: 1px solid #cecece;
    min-height: 250px;
    width: 200px;
    margin: 0 auto;
    margin-top: 25px;
  }
}