.header {
  background-color: #3b5998;
  border: 0;
  border-bottom: 1px solid #133783;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  color: #fff;
  a {
    text-decoration: none;
    color: inherit;
  }
  .navbar-brand {
    color: #fff;
  }
  .action-logged {
    * {
      color: #fff;
    }
    li {
      &:hover, &.active {
        background : lighten(#3b5998, 10%);
      }
      span {
        font-size: 16px;
      }
    }  
  } 
}