<table class="table table-bordered">
  <thead>
    <tr>
      <th class="center">STT</th>
      <th>Tên</th>
      <th>Ngày sinh</th>
      <th>Vị trí</th>
      <th>#</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(data, function( staff ){ %>
      <tr>
        <td class="center"><%- staff.id %></td>
        <td><%- staff.name %></td>
        <td><%- staff.birthday %></td>
        <td><%- staff.position %></td>
        <td><a href="/<%- staff.id %>/delete" class="delete-block"><span class="glyphicon glyphicon-remove"></span><span>Xóa</span></a></td>
        <td><a href="/<%- staff.id %>/update" class="update-block"><span class="glyphicon glyphicon-remove"></span><span>Chỉnh sửa</span></a></td>
      </tr>
    <% }); %>
  </tbody>
</table>