extends template/layouts

block vars
  - title = 'Chi tiết nhân viên | TPC'
//- Begin header
block header
  include includes/header
//- End header
//- Begin Script
block includeScript
  script(type="text/javascript",src="scripts/staff.js")
//- End Script
block container
  .container.content
    h1.main-heading 
      span Thông tin nhân viên
    .staff-detail
      .staff-info
        .row
          .col-sm-4
            .staff-avatar
              img.img-responsive(src="images/akha.jpg")
          .col-sm-8
            .staff-info-detail
              .form-group.grid-row.full
                label Tên nhân viên
                .grid-col
                  .grid-inner
                    span.input-1.disabled
                      input(type="text", placeholder="", value="Tô Thiện", readonly="readonly", aria-invalid="false")
              .form-group.grid-row
                .grid-col.one-half
                  .grid-inner
                    label Ngày sinh
                    span.input-1.disabled
                      input(type="text", placeholder="", value="21/10/1992", readonly="readonly", aria-invalid="false")  
                .grid-col.one-half
                  .grid-inner
                    label CMND
                    span.input-1.disabled
                      input(type="text", placeholder="", value="024668494", readonly="readonly", aria-invalid="false")          
              .form-group.grid-row
                .grid-col.one-half
                  .grid-inner
                    label Vị trí
                    span.input-1.disabled
                      input(type="text", placeholder="", value="Quản lý", readonly="readonly", aria-invalid="false")  
                .grid-col.one-half
                  .grid-inner
                    label Số điện thoại
                    span.input-1.disabled
                      input(type="text", placeholder="", value="0909777284", readonly="readonly", aria-invalid="false")          
              .form-group.grid-row
                .grid-col.one-half
                  .grid-inner
                    label Ngày vào làm
                    span.input-1.disabled
                      input(type="text", placeholder="", value="01/10/2014", readonly="readonly", aria-invalid="false")  
                .grid-col.one-half
                  .grid-inner
                    label Ngày nghỉ làm
                    span.input-1.disabled
                      input(type="text", placeholder="", value="", readonly="readonly", aria-invalid="false")          
      .staff-timekeeper(data-accordion="true")
        .accordion-heading(data-accordion-handler="true")
          .inner
            span Thông tin chấm công
            span.glyphicon.glyphicon-chevron-down(data-accordion-toggle="true")
        .accordion-content(data-accordion-content="true")
          .inner
            span Chấm công content
      .staff-salary(data-accordion="true")
        .accordion-heading(data-accordion-handler="true")
          .inner
            span Thông tin lương bổng
            span.glyphicon.glyphicon-chevron-down(data-accordion-toggle="true")
        .accordion-content(data-accordion-content="true")
          .inner
            span Thông tin lương bổng content